{% extends "MainPage.html" %}
{% load static %}
{% block navigation %}
    <a href="/" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
    <span class="breadcrumb-item">School</span>
    <span class="breadcrumb-item active">Subjects</span>
{% endblock %}
{% block page_js %}
<script src="{% static './global_assets/js/plugins/tables/datatables/datatables.min.js' %}"></script>
<script src="{% static './global_assets/js/plugins/tables/datatables/extensions/responsive.min.js' %}"></script>
<script src="{% static './global_assets/js/plugins/forms/selects/select2.min.js' %}"></script>
<script src="{% static './global_assets/js/demo_pages/datatables_responsive.js' %}"></script>
{% endblock %}
{% block content %}

    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">School Subjects</h5>
        </div>
        <div class="card-body">
            <div class="text-end">
                <a href="{% url 'school_record:subject_create' %}" class="btn btn-primary"><i class="icon-add mr-2"></i> New Subject</a>
            </div>
            <br>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in subject %}
                            <tr>
                                <td>{{ i.name }}</td>
                                <td class="text-center">
                                    <div class="list-icons">
                                        <div class="dropdown">
                                            <a href="#" class="list-icons-item" data-toggle="dropdown">
                                                <i class="icon-menu9"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a href="{% url 'school_record:subject_edit' i.pk %}" class="dropdown-item"><i class="icon-gear"></i> Edit</a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}