{% extends "MainPage.html" %}
{% load static %}
{% block page_js %}
<script src="{% static './global_assets/js/demo_pages/form_checkboxes_radios.js' %}"></script>
<script src="{% static './global_assets/js/plugins/forms/styling/uniform.min.js' %}"></script>
<script src="{% static './global_assets/js/demo_pages/form_layouts.js' %}"></script>
<script src="{% static './global_assets/js/demo_pages/form_multiselect.js' %}"></script>
<script src="{% static './global_assets/js/plugins/forms/selects/bootstrap_multiselect.js' %}"></script>
{% endblock %}
{% block navigation %}
    <a href="/" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
    <span class="breadcrumb-item">School</span>
    <span class="breadcrumb-item active">Add Teacher</span>
{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">Create Teacher</h5>
        </div>
        <div class="card-body">
            <form method="POST">
                <div class="form-group mb-3">
                    <label class="col-lg-3 col-form-label" for="id_user">User:</label>
                    <div class="form-input" >
                        <select class="form-select" name="user" id="id_user">
                            {% for i in form.user %}
                                {{ i }}
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label class="col-lg-3 col-form-label" for="id_name">Name:</label>
                    <div class="form-input" >
                        <input class="form-control" type="text" name="name" maxlength="50" required="" id="id_name" value="{% if form.name.value %}{{ form.name.value }}{% endif %}">
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label class="col-lg-3 col-form-label" for="id_father_name">Father name:</label>
                    <div class="form-input" >
                        <input class="form-control" type="text" name="father_name" maxlength="50" required="" id="id_father_name" value="{% if form.father_name.value %}{{ form.father_name.value }}{% endif %}">
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label class="col-lg-3 col-form-label" for="id_address">Address:</label>
                    <div class="form-input" >
                        <input class="form-control" type="text" name="address" maxlength="500" required="" id="id_address" value="{% if form.address.value %}{{ form.address.value }}{% endif %}">
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label class="col-lg-3 col-form-label">Picture:</label>
                    <div class="form-input" >
                        <div class="uniform-uploader">
                            <input type="file" class="form-input-styled" name="picture" id="id_picture" data-bs-fouc="">
                        </div>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label class="col-lg-3 col-form-label" for="id_mobile1">Mobile1:</label>
                    <div class="form-input" >
                        <input class="form-control" type="number" name="mobile1" min="-9223372036854775808" max="9223372036854775807" required="" id="id_mobile1" value="{% if form.mobile1.value %}{{ form.mobile1.value }}{% endif %}">
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label class="col-lg-3 col-form-label" for="id_mobile2">Mobile2:</label>
                    <div class="form-input" >
                        <input class="form-control" type="number" name="mobile2" min="-9223372036854775808" max="9223372036854775807" id="id_mobile2" value="{% if form.mobile2.value %}{{ form.mobile2.value }}{% endif %}">
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label class="col-lg-3 col-form-label" for="id_nic">NIC:</label>
                    <div class="form-input" >
                        <input class="form-control" type="number" name="nic" min="-9223372036854775808" max="9223372036854775807" id="id_nic" value="{% if form.nic.value %}{{ form.nic.value }}{% endif %}">
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label class="col-lg-3 col-form-label" for="id_session_of_admission">Date Of Interview:</label>
                    <div class="form-input" >
                        <input class="form-control" type="date" name="date_of_interview" required="" id="id_date_of_interview" value="{% if form.date_of_interview.value %}{{ form.doi }}{% endif %}">
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label class="col-lg-3 col-form-label" for="id_date_of_joining">Date of Joining:</label>
                    <div class="form-input" >
                        <input class="form-control" type="date" name="date_of_joining" required="" id="id_date_of_interview" value="{% if form.date_of_joining.value %}{{ form.doj }}{% endif %}">
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label class="col-lg-3 col-form-label" for="id_last_school">Last school:</label>
                    <div class="form-input" >
                        <select class="form-select" name="last_school" id="id_last_school">
                            {% for i in form.last_school %}
                                {{ i }}
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label class="col-lg-3 col-form-label" for="id_religion">Religion:</label>
                    <div class="form-input" >
                        <select class="form-select" name="religion" required="" id="id_religion">
                            {% for i in form.religion %}
                                {{ i }}
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label class="col-lg-3 col-form-label" for="id_gender">Gender:</label>
                    <div class="form-input" >
                        <select class="form-select" name="gender" required="" id="id_gender">
                            {% for i in form.gender %}
                                {{ i }}
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label class="col-lg-3 col-form-label" for="id_date_of_birth">Date of birth:</label>
                    <div class="form-input" >
                        <input class="form-control" type="date" name="date_of_birth" required="" id="id_date_of_birth" value="{% if form.date_of_birth.value %}{{ form.dob }}{% endif %}">
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label class="col-lg-3 col-form-label" for="id_active">Active:</label>
                    <div class="form-input" >
                        <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input-styled" name="active" id="id_active" {% if form.active.value == True %}checked=""{% endif %} data-bs-fouc="">
                        </div>
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label class="col-lg-3 col-form-label" for="id_left_date">Left Date:</label>
                    <div class="form-input" >
                        <input class="form-control" type="date" name="left_date" id="id_left_date" value="{% if form.left_date.value %}{{ form.left_date.value }}{% endif %}">
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label class="col-lg-3 col-form-label" for="id_reason_of_left">Reason of left:</label>
                    <div class="form-input" >
                        <input class="form-control" type="text" name="reason_of_left" maxlength="500" id="id_reason_of_left" value="{% if form.reason_of_left.value %}{{ form.reason_of_left.value }}{% endif %}">
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label class="col-lg-3 col-form-label" for="id_remarks">Remarks:</label>
                    <div class="form-input" >
                        <input class="form-control" type="text" name="remarks" maxlength="500" id="id_remarks" value="{% if form.remarks.value %}{{ form.remarks.value }}{% endif %}">
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label class="col-lg-3 col-form-label" for="id_remarks">Salary:</label>
                    <div class="form-input" >
                        <input class="form-control" type="number" name="salary" required id="id_salary" value="{% if salary_form.salary.value %}{{ salary_form.salary.value }}{% endif %}">
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label class="col-lg-3 col-form-label" for="id_remarks">Class:</label>
                    <div class="form-input" >
                        <select class="form-select" name="clas" required id="id_clas">
                            {% for i in class_form.clas %}
                                {{ i }}
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label class="col-lg-3 col-form-label" for="id_remarks">Subject:</label>
                    <div class="form-input" >
                        <select class="form-control multiselect" name="subjects" required id="id_subjects" multiple>
                            {% for i in subject_form.subjects %}
                                {{ i }}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {% csrf_token %}
                <div class="text-end">
                    <button type="submit" class="btn btn-themeAdd Teacher <i class="icon-paperplane ml-2"></i></button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}