{% extends "MainPage.html" %}
{% load static %}
{% block page_js %}
{% endblock %}
{% block navigation %}
    <a href="/" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
    <span class="breadcrumb-item">School</span>
    <span class="breadcrumb-item active">Add Class Section</span>
{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">Create Class Section</h5>
        </div>
        <div class="card-body">
            <form method="POST">
                <div class="form-group mb-3">
                    <label class="col-lg-3 col-form-label" for="id_serial">Serial:</label>
                    <div class="form-input" >
                        <input class="form-control" type="number" name="serial" required id="id_serial" value="{% if form.serial.value %}{{ form.serial.value }}{% endif %}">
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label class="col-lg-3 col-form-label" for="id_name">Name:</label>
                    <div class="form-input" >
                        <input class="form-control" type="text" name="name" maxlength="50" required id="id_name" value="{% if form.name.value %}{{ form.name.value }}{% endif %}">
                    </div>
                </div>
                <div class="form-group mb-3" hidden>
                    <label class="col-lg-3 col-form-label" for="id_class">Class:</label>
                    <div class="form-input" >
                        <select class="form-control" name="clas" required id="id_clas">
                            {% for i in form.clas %}
                                {{ i }}
                            {% endfor %}
                          </select>
                    </div>
                </div>
                {% csrf_token %}
                <div class="text-end">
                    <button type="submit" class="btn btn-primary">Add Section <i class="icon-paperplane ml-2"></i></button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}