{% extends "MainPage.html" %}
{% load static %}
{% block page_js %}
{% endblock %}
{% block navigation %}
    <a href="/" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
    <span class="breadcrumb-item">School</span>
    <span class="breadcrumb-item active">Add Teacher Salary</span>
{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">Create Teacher Salary</h5>
        </div>
        <div class="card-body">
            <form method="POST">
                <div class="form-group mb-3">
                    <label class="col-lg-3 col-form-label" for="id_remarks">Salary:</label>
                    <div class="form-input" >
                        <input class="form-control" type="number" name="salary" required id="id_salary" value="{% if form.salary.value %}{{ form.salary.value }}{% endif %}">
                    </div>
                </div>
                {% csrf_token %}
                <div class="text-end">
                    <button type="submit" class="btn btn-theme">Add Subject <i class="icon-paperplane ml-2"></i></button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}