{% load static %}

<script src="{% static './global_assets/js/plugins/velocity/velocity.min.js' %}"></script>
<script src="{% static './global_assets/js/plugins/velocity/velocity.ui.min.js' %}"></script>
<script src="{% static './global_assets/js/plugins/ui/prism.min.js' %}"></script>
<!-- Main sidebar -->
<div class="sidebar sidebar-dark sidebar-main sidebar-expand-md">

	<!-- Sidebar mobile toggler -->
	<div class="sidebar-mobile-toggler text-center">
		<a href="javascript:" class="sidebar-mobile-main-toggle">
			<i class="icon-arrow-left8"></i>
		</a>
		Navigation
		<a href="javascript:" class="sidebar-mobile-expand">
			<i class="icon-screen-full"></i>
			<i class="icon-screen-normal"></i>
		</a>
	</div>
	<!-- /sidebar mobile toggler -->


	<!-- Sidebar content -->
	<div class="sidebar-content">


		<!-- Main navigation -->
		<div class="card card-sidebar-mobile velocity-container mb-4">
			<ul class="nav nav-sidebar" data-bs-nav-type="accordion">
				<!-- Main -->
				<li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">Main</div> <i class="icon-menu" title="Main"></i></li>
				{% for i in request.session.group %}
					{% if i == 'School_Owner' %}
						<li class="nav-item nav-item-submenu">
							<a href="javascript:" class="nav-link"><i class="icon-home2"></i> <span> School Profile</span></a>

							<ul class="nav nav-group-sub" data-bs-submenu-title="Layouts">
								<li class="nav-item"><a href="{% url 'school:school_profile' %}" class="nav-link">Profile</a></li>
								<li class="nav-item"><a href="{% url 'school_record:detail_list' %}" class="nav-link">Detail</a></li>
								<li class="nav-item"><a href="{% url 'school_record:album_images_list' %}" class="nav-link">Images</a></li>
								<li class="nav-item"><a href="{% url 'school_record:album_videos_list' %}" class="nav-link">Videos</a></li>
								<li class="nav-item"><a href="{% url 'school_record:announcements_list' %}" class="nav-link">Announcements</a></li>
								<li class="nav-item"><a href="{% url 'school_record:fee_structure_list' %}" class="nav-link">Fee Structure</a></li>
							</ul>
						</li>
						<li class="nav-item-header">
							<div class="text-uppercase font-size-xs line-height-xs">Data</div> <i class="icon-menu" title="Main"></i>
						</li>
						<li class="nav-item"><a href="{% url 'school_record:gr_register' %}" class="nav-link">
							<i class="icon-book3"></i> <span>Gr Register</span></a>
						</li>
						<li class="nav-item nav-item-submenu">
							<a href="javascript:" class="nav-link"><i class="icon-users"></i> <span>Students</span></a>

							<ul class="nav nav-group-sub" data-bs-submenu-title="Layouts">
								<li class="nav-item"><a href="{% url 'school_student:student_create' %}" class="nav-link">Add Student</a></li>
								<li class="nav-item"><a href="{% url 'school_student:student_list' %}" class="nav-link">All Students</a></li>
							</ul>
						</li>
						<li class="nav-item nav-item-submenu">
							<a href="javascript:" class="nav-link"><i class="icon-database2"></i> <span>Basic Data</span></a>

							<ul class="nav nav-group-sub" data-bs-submenu-title="Layouts">
								<li class="nav-item"><a href="{% url 'student_fee:fee_type_list' %}" class="nav-link">Fee Types</a></li>
								<li class="nav-item"><a href="{% url 'school_record:class_list' %}" class="nav-link">Class</a></li>
								<li class="nav-item"><a href="{% url 'school_record:session_list' %}" class="nav-link">Session</a></li>
								<li class="nav-item"><a href="{% url 'school_record:subject_list' %}" class="nav-link">Subject</a></li>
								<li class="nav-item"><a href="{% url 'school_record:class_subject_list' %}" class="nav-link">Class Subject</a></li>
							</ul>
						</li>
						<li class="nav-item nav-item-submenu">
							<a href="javascript:" class="nav-link"><i class="icon-users4"></i> <span>Teachers</span></a>

							<ul class="nav nav-group-sub" data-bs-submenu-title="Layouts">
								<li class="nav-item"><a href="{% url 'school_teacher:teacher_create' %}" class="nav-link">Add Teacher</a></li>
								<li class="nav-item"><a href="{% url 'school_teacher:teacher_list' %}" class="nav-link">All Teachers</a></li>
							</ul>
						</li>
						<li class="nav-item nav-item-submenu">
							<a href="javascript:" class="nav-link"><i class="icon-checkmark-circle"></i> <span>Attendance</span></a>

							<ul class="nav nav-group-sub" data-bs-submenu-title="Layouts">
								<li class="nav-item"><a href="{% url 'teacher_attendance:teacher_capture_attendance' %}" class="nav-link">Capture For Teachers</a></li>
								<li class="nav-item"><a href="{% url 'teacher_attendance:teacher_attendance' %}" class="nav-link">Teachers Status</a></li>
								<li class="nav-item"><a href="{% url 'student_attendance:student_capture_attendance' %}" class="nav-link">Capture For Students</a></li>
								<li class="nav-item"><a href="{% url 'student_attendance:student_attendance' %}" class="nav-link">Students Status</a></li>
							</ul>
						</li>
						<li class="nav-item nav-item-submenu">
							<a href="javascript:" class="nav-link"><i class="icon-cash3"></i> <span>Fee</span></a>

							<ul class="nav nav-group-sub" data-bs-submenu-title="Layouts">
								<li class="nav-item"><a href="{% url 'student_fee:due_fee_create' %}" class="nav-link">Add Fee</a></li>
								<li class="nav-item"><a href="{% url 'student_fee:due_fee_list' %}" class="nav-link">Due Fee</a></li>
								<li class="nav-item"><a href="{% url 'student_fee:fee_collect' %}" class="nav-link">Collect Fee</a></li>
								<li class="nav-item"><a href="{% url 'student_fee:fee_vouchers' %}" class="nav-link">Generate Vouchers</a></li>
							</ul>
						</li>
					{% elif i == 'School_Teacher' %}
						<li class="nav-item nav-item-submenu">
							<a href="javascript:" class="nav-link"><i class="icon-home2"></i> <span> Teacher Profile</span></a>

							<ul class="nav nav-group-sub" data-bs-submenu-title="Layouts">
								<li class="nav-item"><a href="{% url 'teacher:teacher_profile' %}" class="nav-link">Profile</a></li>
								<li class="nav-item"><a href="{% url 'teacher:detail_list' %}" class="nav-link">Detail</a></li>
								<li class="nav-item"><a href="{% url 'teacher:album_images_list' %}" class="nav-link">Images</a></li>
								<li class="nav-item"><a href="{% url 'teacher:album_videos_list' %}" class="nav-link">Videos</a></li>
							</ul>
						</li>
						<li class="nav-item nav-item-submenu">
							<a href="javascript:" class="nav-link"><i class="icon-users"></i> <span>Students</span></a>

							<ul class="nav nav-group-sub" data-bs-submenu-title="Layouts">
								<li class="nav-item"><a href="{% url 'teacher_student:student_list' %}" class="nav-link">My Students</a></li>
							</ul>
						</li>
						<li class="nav-item nav-item-submenu">
							<a href="javascript:" class="nav-link"><i class="icon-users"></i> <span>Homework</span></a>

							<ul class="nav nav-group-sub" data-bs-submenu-title="Layouts">
								<li class="nav-item"><a href="{% url 'teacher_homework:homework_create' %}" class="nav-link">Homework Create</a></li>
								<li class="nav-item"><a href="{% url 'teacher_homework:homework_list' %}" class="nav-link">Homework List</a></li>
							</ul>
						</li>
					{% elif i == 'School_Student' %}
						<li class="nav-item"><a href="{% url 'student:student_profile' %}" class="nav-link"><i class="icon-home2"></i> My Profile</a></li>
						<li class="nav-item nav-item-submenu">
							<a href="javascript:" class="nav-link"><i class="icon-users"></i> <span>Homework</span></a>

							<ul class="nav nav-group-sub" data-bs-submenu-title="Layouts">
								<li class="nav-item"><a href="{% url 'student_homework:homework_list' %}" class="nav-link">Homework List</a></li>
							</ul>
						</li>
					{% elif i == 'Admin' %}
						<li class="nav-item"><a href="/" class="nav-link"><i class="icon-home2"></i> Dashboard</a></li>
						<li class="nav-item"><a href="{% url 'school:create_school' %}" class="nav-link"><i class="icon-add"></i> <span>Add School</span></a></li>
					{% endif %}
				{% endfor %}
				{% if request.user.is_authenticated %}
				{% else %}
					<li class="nav-item"><a href="/" class="nav-link"><i class="icon-home2"></i> Dashboard</a></li>
				{% endif %}


				<li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">Authentication</div> <i class="icon-menu" title="Forms"></i></li>


				{% if request.user.is_authenticated %}
					<li class="nav-item">
						<a href="{% url 'auth:logout' %}" class="nav-link">
							<span class="pcoded-micon"><i class="icon-switch"></i></span><span class="pcoded-mtext">Logout</span>
						</a>
					</li>
				{% else %}
					<li class="nav-item"><a href="javascript:" id="id_login" class="nav-link" data-bs-toggle="modal" data-bs-target="#login_modal"><i class="icon-user"></i> <span>Login</span></a></li>
				{% endif %}

			</ul>
		</div>
		<!-- /main navigation -->

	</div>
	<!-- /sidebar content -->

</div>
<!-- /main sidebar -->
<script>
	Array.prototype.diff = function(arr2) {
		var ret = [];
		for(var i in this) {
			if(arr2.indexOf(this[i]) > -1){
				ret.push(this[i]);
			}
		}
		return ret;
	};
	hilighted = false;
	function hilight (element){
		element.addClass("active")
		element.parent().parent().attr('style','display:block').parent().addClass("nav-item-open")
		hilighted = true;
	}
	url = window.location.pathname;
	element = $("a[href='"+url+"']");
	if (element[0] && !hilighted){
		hilight(element);
	}
	if (!hilighted){
		url = window.location.href;
		match = $("a.nav-link");
		for (let i = 0; i < match.length; i++) {
			const element = match[i];
			arr = (element.href.split("/").slice(3,6)).join("/");
			final = (url.split("/").slice(3,6)).join("/");
			if (arr == final){
				ele = $("a[href='/"+(element.href.split("/").slice(3)).join("/")+"']");
				hilight(ele)
			}
		}
	}
	// Stagger option
	$('.nav-item.nav-item-submenu').velocity('transition.slideLeftIn', {
		stagger: 100
	});
	$('.nav-item-submenu').on('click' , function (){
		$(this).closest('li').siblings(".nav-item-open").removeClass("nav-item-open").children(".nav-group-sub").css('display',"");
		$('.nav-item-open .nav-group-sub > .nav-item').velocity('transition.slideLeftIn', {
			stagger: 100
		});
	})
</script>