{% extends "MainPage.html" %}
{% load static %}
{% block navigation %}
    <a href="/" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
    <span class="breadcrumb-item">Teacher</span>
    <span class="breadcrumb-item active">Videos</span>
{% endblock %}
{% block page_js %}
<script src="{% static './global_assets/js/plugins/tables/datatables/datatables.min.js' %}"></script>
<script src="{% static './global_assets/js/plugins/tables/datatables/extensions/responsive.min.js' %}"></script>
<script src="{% static './global_assets/js/plugins/forms/selects/select2.min.js' %}"></script>
<script src="{% static './global_assets/js/demo_pages/datatables_responsive.js' %}"></script>
{% endblock %}
{% block content %}

    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">Teacher Videos</h5>
        </div>
        <div class="card-body">
            <div class="text-end">
                <a href="{% url 'teacher:album_videos_create' %}" class="btn btn-primary"><i class="icon-add mr-2"></i> New Video</a>
            </div>
            <br>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Video</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in videos %}
                        <tr>
                            <td><a href="{{ i.url }}"><i class="icon-arrow-up-right32"></i></a></td>
                            <td>{% if i.valid == True %}<span class="badge badge-success">Active</span>{% else %}<span class="badge badge-danger">InActive</span>{% endif %}</td>
                            <td class="text-center">
                                <div class="list-icons">
                                    <div class="dropdown">
                                        <a href="#" class="list-icons-item" data-toggle="dropdown">
                                            <i class="icon-menu9"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a href="{% url 'teacher:album_videos_edit' i.pk %}" class="dropdown-item"><i class="icon-pencil"></i> Edit</a>
                                            <a href="{% url 'teacher:album_videos_change_status' i.pk %}" class="dropdown-item"><i class="icon-alignment-unalign"></i> {% if i.valid == True %}Hide{% else %}Show{% endif %}</a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}