{% extends "MainPage.html" %}
{% load static %}
{% block page_js %}
    <script src="{% static './global_assets/js/demo_pages/components_scrollspy.js' %}"></script>
    <script src="{% static './global_assets/js/plugins/ui/sticky.min.js' %}"></script>
    <script src="{% static './global_assets/js/plugins/ui/prism.min.js' %}"></script>
    <script src="{% static './global_assets/js/plugins/notifications/pnotify.min.js' %}"></script>
    <script src="{% static './global_assets/js/demo_pages/extra_pnotify.js' %}"></script>
    <script src="{% static './global_assets/js/demo_pages/extra_sweetalert.js' %}"></script>
    <script src="{% static './global_assets/js/plugins/notifications/sweet_alert.min.js' %}"></script>
    <link href="{% static './assets/css/slider.min.css' %}" rel="stylesheet" type="text/css"></link>
{% endblock %}
{% block navigation %}
    <a href="/" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
    <span class="breadcrumb-item">School</span>
    <span class="breadcrumb-item active">Profile</span>
{% endblock %}
{% block content %}
    <!-- <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">School Profile</h5>
        </div>
        <div class="card-body">
            {% for i in detail %}
                {{ i }}
            {% endfor %}<br><br><br>
            {% for i in images %}
                {{ i }}
            {% endfor %}<br><br><br>
            {% for i in videos %}
                {{ i }}
            {% endfor %}<br><br><br>
            {% for i in announcements %}
                {{ i }}
            {% endfor %}<br><br><br>
            {% for i in fee %}
                {{ i }}
            {% endfor %}<br><br><br>
        </div>
    </div> -->
    <div class="d-flex align-items-start flex-column flex-md-row">

        <!-- Left content -->
        <div class="order-2 order-md-1 col-xl-9">

            {% for i in announcements %}
                <div class="alert text-violet-800 alpha-violet border-0 alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert"><span>×</span></button>
                    {{ i }}
                </div>
            {% endfor %}
            <!-- Scrollspy -->
            {% if images or videos %}
                <div class="card">
                    <div class="card-header header-elements-inline">
                        <h5 class="card-title">Gallery</h5>
                    </div>
                    <div class="card-body">
                        {% if images %}
                            <div class="mb-4">
                                <h6 class="font-weight-semibold" id="scrollspy-gallery-images">Images</h6>
                                <p>These Are Some Pictures From {{ request.session.school.full_name }}</p>
                                <div class="slideshow-container">
                                {% for i in images %}
                                    <div class="myImages">
                                        <img src="{{ i.image.image.url }}" style="width:100%">
                                    </div>
                                {% endfor %}
                                    <a class="prev" onclick="plusImageSlides(-1)">&#10094;</a>
                                    <a class="next" onclick="plusImageSlides(1)">&#10095;</a>
                                </div>
                                <br>
                                <div style="text-align:center">
                                    {% for i in images %}
                                        <span class="dotImages" onclick="currentImageSlide({{ i.count }})"></span>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                        {% if videos %}
                            <div class="mb-4">
                                <h6 class="font-weight-semibold" id="scrollspy-gallery-videos">Videos</h6>
                                <p>These Are Some Videos From {{ request.session.school.full_name }}</p>
                                <div class="slideshow-container">
                                <div id="id_video_div">
                                </div>
                                {% for i in videos %}
                                    <input class="abc" type="text" id="url" value="{{ i.video.url }}" hidden />
                                {% endfor %}
                                    <a class="prev" onclick="plusVideoSlides(-1)">&#10094;</a>
                                    <a class="next" onclick="plusVideoSlides(1)">&#10095;</a>
                                </div>
                                <br>
                                <div style="text-align:center">
                                    {% for i in videos %}
                                        <span class="dotVideos" onclick="currentVideoSlide({{ i.count }})"></span>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            {% if detail or fee %}
                <div class="card">
                    <div class="card-header header-elements-inline">
                        <h5 class="card-title">Detail</h5>
                    </div>

                    <div class="card-body">
                        <div class="mb-4">
                            <h6 class="font-weight-semibold" id="scrollspy-school-detail">Detail</h6>
                            {% for i in detail %}
                                <p>{{ i }}</p>
                            {% endfor %}
                        </div>
                        <div class="mb-4">
                            <h6 class="font-weight-semibold" id="scrollspy-fee-detail">Fee Details</h6>
                            {% for i in fee %}
                                <p>Fees Of {{ i.clas }} is {{ i.fee }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>


        <!-- Right sidebar component -->
        <div class="sidebar-sticky w-100 w-md-auto order-1 order-md-2">
            <div class="sidebar sidebar-light sidebar-component sidebar-component-right sidebar-expand-md">
                <div class="sidebar-content">
                    
                    <!-- Navigation -->
                    <div class="card">
                        <div class="card-header bg-transparent header-elements-inline">
                            <span class="text-uppercase font-size-sm font-weight-semibold">Navigation</span>
                            <div class="header-elements">
                                <div class="list-icons">
                                    <a class="list-icons-item" data-action="collapse"></a>
                                </div>
                            </div>
                        </div>

                        <ul class="nav nav-sidebar nav-scrollspy">
                            {% if images or videos %}
                                <li class="nav-item-header">School Profile</li>
                                <li class="nav-item nav-item-submenu">
                                    <a class="nav-link">Gallery</a>
                                    <ul class="nav nav-group-sub">
                                        <li class="nav-item"><a href="#scrollspy-gallery-images" class="nav-link">Images</a></li>
                                        <li class="nav-item"><a href="#scrollspy-gallery-videos" class="nav-link">Videos</a></li>
                                    </ul>
                                </li>
                            {% endif %}
                            {% if detail or fee %}
                                <li class="nav-item nav-item-submenu">
                                    <a class="nav-link">Detail</a>
                                    <ul class="nav nav-group-sub">
                                        <li class="nav-item"><a href="#scrollspy-school-detail" class="nav-link">School Detail</a></li>
                                        <li class="nav-item"><a href="#scrollspy-fee-detail" class="nav-link">Fee Detail</a></li>
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    <!-- /navigation -->

                </div>
            </div>
        </div>
        <!-- /right sidebar component -->


    </div>
    {% if message == "User Not Found" %}
        <script>
            window.onload = function () {
                authenticationRejected();
            }
        </script>
    {% endif %}
{% endblock %}
{% block scripts %}
    <script>
        function authenticationRejected(){
            new PNotify({
                title: "Can't Authenticate",
                text: 'The Username Or Password You Entered Does Not Match With Any User.',
                icon: 'icon-blocked',
                type: 'error',
            });
            var swalInit = swal.mixin({
                buttonsStyling: false,
                confirmButtonClass: 'btn btn-primary',
                cancelButtonClass: 'btn btn-light'
            });
            swalInit({
                title: "Can't Authenticate",
                text: 'The Username Or Password You Entered Does Not Match With Any User.',
                type: 'error',
                showCancelButton: false,
                // confirmButtonText: 'OK'
            });
        }
    </script>
<!-- Images -->
    <script>
        var imgslideIndex = 1;
        showImageSlides(imgslideIndex);
        function plusImageSlides(n) {
            showImageSlides(imgslideIndex += n);
        }
        function currentImageSlide(n) {
            showImageSlides(imgslideIndex = n);
        }
        function showImageSlides(n) {
            var i;
            var slides = document.getElementsByClassName("myImages");
            var dots = document.getElementsByClassName("dotImages");
            if(n > slides.length) {
                imgslideIndex = 1
            }
            if(n < 1) {
                imgslideIndex = slides.length
            }
            for(i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for(i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active1", "");
            }
            slides[imgslideIndex - 1].style.display = "block";
            dots[imgslideIndex - 1].className += " active1";
        }
    </script>
<!-- Videos -->
    <script>
        var vidslideIndex = 1;
        showVideoSlides(vidslideIndex);
        function plusVideoSlides(n) {
            showVideoSlides(vidslideIndex += n);
        }
        function currentVideoSlide(n) {
            showVideoSlides(vidslideIndex = n);
        }
        function showVideoSlides(n) {
            var i;
            var slides = document.getElementsByClassName("myVideos");
            var dots = document.getElementsByClassName("dotVideos");
            if(n > slides.length) {
                vidslideIndex = 1
            }
            if(n < 1) {
                vidslideIndex = slides.length
            }
            for(i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for(i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active1", "");
            }
            slides[vidslideIndex - 1].style.display = "block";
            dots[vidslideIndex - 1].className += " active1";
        }
    </script>
    <script>
        function getId(url) {
            const regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|&v=)([^#&?]*).*/;
            const match = url.match(regExp);

            return (match && match[2].length === 11)
            ? match[2]
            : null;
        }
        var video = document.getElementsByClassName("abc");
        var display = 'block';
        for(var i = 0; i < video.length; i++){
            var url = video[i].value;
            var stat1 = url.includes('youtu.be');
            var stat2 = url.includes('https://www.youtube.com/watch?v=');
            var stat3 = url.includes('https://www.youtube.com/embed/');
            var videoId ;
            if(stat1 == true){
                videoId = url.replace('https://youtu.be/','');
            }if(stat2 == true){
                videoId = url.replace('https://www.youtube.com/watch?v=','');
            }if(stat3 == true){
                videoId = url.replace('https://www.youtube.com/embed/','');
            }
            new_url = "https://www.youtube.com/embed/" + videoId
            document.getElementById('id_video_div').innerHTML += '<div class="myVideos" style="display:'+display+';"><div class="numbertext">1 / 3</div><div style="overflow:hidden;padding-bottom:56.25%;position:relative;height:0;"><iframe style="left:0;top:0;height:100%;width:100%;position:absolute;" class="video-frame" id="video" title="YouTube video player" frameborder="0" src="'+new_url+'" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div></div>';
            var display = 'none';
        }
    </script>
{% endblock %}