{% extends "MainPage.html" %}
{% load static %}
{% block page_js %}
    <script src="{% static './global_assets/js/plugins/forms/styling/uniform.min.js' %}"></script>
    <script src="{% static './global_assets/js/plugins/forms/styling/switchery.min.js' %}"></script>
    <script src="{% static './global_assets/js/plugins/forms/styling/switch.min.js' %}"></script>
    <script src="{% static './global_assets/js/demo_pages/form_checkboxes_radios.js' %}"></script>
    <script src="{% static './global_assets/js/plugins/forms/selects/select2.min.js' %}"></script>
    <script src="{% static './global_assets/js/plugins/forms/styling/uniform.min.js' %}"></script>
    <script src="{% static './global_assets/js/demo_pages/form_layouts.js' %}"></script>
{% endblock %}
{% block navigation %}
    <a href="/" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
    <span class="breadcrumb-item">School</span>
    <span class="breadcrumb-item active">Add Homework</span>
{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">Create Homework</h5>
        </div>
        <div class="card-body">
            <form method="POST" enctype="multipart/form-data">
                <h3>Homework</h3>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label" for="id_class">Class:</label>
                    <div class="col-lg-9">
                        <select class="form-control" name="clas" required="" id="id_clas">
                            {% for i in homework_form.clas %}
                                {{ i }}
                            {% endfor %}
                          </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label" for="id_subject">Subject:</label>
                    <div class="col-lg-9">
                        <select class="form-control" name="subject" required="" id="id_subject">
                            {% for i in homework_form.subject %}
                                {{ i }}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label" for="id_text">Text:</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" name="text" maxlength="500" required="" id="id_text">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label" for="id_date">Date:</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="date" name="date" required="" id="id_date">
                    </div>
                </div>
                <div class="text-left">
                    <h3>
                        Images
                        <div class="float-right">
                            <a class="btn btn-primary" href="javascript:" onClick="addImage()">Add Another Image</a>
                        </div>
                    </h3>
                </div>
                <div id="id_images">
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label" for="id_image">Image:</label>
                        <div class="col-lg-9">
                            <div class="uniform-uploader">
                                <input class="form-input-styled" type="file" name="image" id="id_image" data-fouc="">
                            </div>
                        </div>
                    </div>
                    <a onclick="reload()" class="continue">Continue</a>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label" for="id_image">Text:</label>
                        <div class="col-lg-9">
                            <input class="form-control" type="text" name="img_text" maxlength="300" id="id_text">
                        </div>
                    </div>
                </div>
                <div class="text-left">
                    <h3>
                        Videos
                        <div class="float-right">
                            <a class="btn btn-primary" href="javascript:" onClick="addVideo()">Add Another Video</a>
                        </div>
                    </h3>
                </div>
                <div id="id_videos">
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label" for="id_image">URL:</label>
                        <div class="col-lg-9">
                            <input class="form-control" type="url" name="video" maxlength="200" id="id_video">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label" for="id_image">Text:</label>
                        <div class="col-lg-9">
                            <input class="form-control" type="text" name="vid_text" maxlength="300" id="id_text">
                        </div>
                    </div>
                </div>
                <br>
                {% csrf_token %}
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Add Homework <i class="icon-paperplane ml-2"></i></button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        function addImage (){
            // const node = document.getElementById('id_images');
            // const clone = node.cloneNode(true);
            // alert('abc')
            // document.getElementById("id_images").appendChild(clone);
            document.getElementById('id_images').insertAdjacentHTML('beforeend','<div class="form-group row"><label class="col-lg-3 col-form-label" for="id_image">Image:</label><div class="col-lg-9"><div class="uniform-uploader"><div class="uniform-uploader" id="uniform-id_image"><input class="form-input-styled" type="file" name="image" id="id_image" data-fouc=""><span class="filename" style="user-select: none;">No file selected</span><span class="action btn bg-pink-400" style="user-select: none;">Choose File</span></div></div></div></div><div class="form-group row"><label class="col-lg-3 col-form-label" for="id_image">Text:</label><div class="col-lg-9"><input class="form-control" type="text" name="img_text" maxlength="300" id="id_text"></div></div>');
        }
        function reload (){
            // $.getScript("{% static './global_assets/js/plugins/forms/selects/select2.min.js' %}");
            $.getScript("{% static './global_assets/js/plugins/forms/styling/uniform.min.js' %}");
            $.getScript("{% static './global_assets/js/plugins/forms/styling/switchery.min.js' %}");
            $.getScript("{% static './global_assets/js/plugins/forms/styling/switch.min.js' %}");
            $.getScript("{% static './global_assets/js/demo_pages/form_checkboxes_radios.js' %}");
            $.getScript("{% static './global_assets/js/plugins/forms/selects/select2.min.js' %}");
            $.getScript("{% static './global_assets/js/plugins/forms/styling/uniform.min.js' %}");
            $.getScript("{% static './global_assets/js/demo_pages/form_layouts.js' %}");
        }
    </script>
    <script>
        function addVideo (){
            document.getElementById('id_videos').innerHTML += '<div class="form-group row"><label class="col-lg-3 col-form-label" for="id_image">URL:</label><div class="col-lg-9"><input class="form-control" type="url" name="video" maxlength="200" id="id_video"></div></div><div class="form-group row"><label class="col-lg-3 col-form-label" for="id_image">Text:</label><div class="col-lg-9"><input class="form-control" type="text" name="vid_text" maxlength="300" id="id_text"></div></div>'
        }
    </script>
{% endblock %}