{% extends "MainPage.html" %}
{% load static %}
{% block navigation %}
    <a href="/" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
    <span class="breadcrumb-item">School</span>
    <span class="breadcrumb-item active">Due Fee</span>
{% endblock %}
{% block page_js %}
    <script src="{% static './global_assets/js/plugins/forms/styling/uniform.min.js' %}"></script>
    <script src="{% static './global_assets/js/plugins/forms/styling/switchery.min.js' %}"></script>
    <script src="{% static './global_assets/js/plugins/forms/styling/switch.min.js' %}"></script>
    <script src="{% static './global_assets/js/demo_pages/form_checkboxes_radios.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-header header-elements-inline">
            <h6 class="card-title">Which Type Of Fee Do You Want To Create</h6>
        </div>

        <div class="card-body">
            <ul class="nav nav-tabs nav-justified">
                <li class="nav-item"><a href="#I_Student" class="nav-link rounded-top active" data-toggle="tab">Individual Student</a></li>
                <li class="nav-item"><a href="#W_Class" class="nav-link rounded-top" data-toggle="tab">Whole Class</a></li>
                <li class="nav-item"><a href="#S_Classes" class="nav-link rounded-top" data-toggle="tab">Selected Clases</a></li>
                <li class="nav-item"><a href="#W_School" class="nav-link rounded-top" data-toggle="tab">Whole School</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="I_Student">
                    <form method="POST" action="{% url 'student_fee:student_due_fee_create' %}">
                        <div class="form-group mb-3">
                            <label class="col-lg-3 col-form-label" for="id_name">Student Name :</label>
                            <div class="form-input" >
                                <select class="form-control" name="student" required="" id="id_student">
                                    <option value="">----------------</option>
                                    {% for i in students %}
                                        <option value="{{ i.pk }}">{{ i.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label class="col-lg-3 col-form-label" for="id_fee_type">Fee Type :</label>
                            <div class="form-input" >
                                <select class="form-control" name="fee_type" required="" id="id_fee_type">
                                    <option value="">----------------</option>
                                    {% for i in fee_types %}
                                        <option value="{{ i.pk }}">{{ i.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label class="col-lg-3 col-form-label" for="id_fee_year">Year :</label>
                            <div class="form-input" >
                                <select class="form-control" name="year" required="" id="id_fee_year">
                                    <option value="">----------------</option>
                                        <option value="2020">2020</option>
                                        <option value="2021">2021</option>
                                        <option value="2022">2022</option>
                                        <option value="2023">2023</option>
                                        <option value="2024">2024</option>
                                        <option value="2025">2025</option>
                                        <option value="2026">2026</option>
                                        <option value="2027">2027</option>
                                        <option value="2028">2028</option>
                                        <option value="2029">2029</option>
                                        <option value="2030">2030</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label class="col-lg-3 col-form-label" for="id_month">Fee Month :</label>
                            <div class="form-input" >
                                <select class="form-control" name="month" required="" id="id_month">
                                    <option value="" selected="">---------</option>                              
                                    <option value="January">January</option>                              
                                    <option value="February">February</option>                              
                                    <option value="March">March</option>                              
                                    <option value="April">April</option>                              
                                    <option value="May">May</option>                              
                                    <option value="June">June</option>                              
                                    <option value="July">July</option>                              
                                    <option value="August">August</option>                              
                                    <option value="September">September</option>                              
                                    <option value="October">October</option>                              
                                    <option value="November">November</option>                              
                                    <option value="December">December</option>                              
                                </select>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label class="col-lg-3 col-form-label" for="id_due_date">Due Date :</label>
                            <div class="form-input" >
                                <input class="form-control" type="date" name="due_date" required="" id="id_due_date">
                            </div>
                        </div>
                        {% csrf_token %}
                        <div class="text-end">
                            <button type="submit" class="btn btn-primary">Add Fee <i class="icon-paperplane ml-2"></i></button>
                        </div>
                    </form>
                </div>

                <div class="tab-pane fade" id="W_Class">
                    <form method="POST" action="{% url 'student_fee:class_due_fee_create' %}">
                        <div class="form-group mb-3">
                            <label class="col-lg-3 col-form-label" for="id_class">Class :</label>
                            <div class="form-input" >
                                <select class="form-control" name="class" required="" id="id_class">
                                    <option value="">----------------</option>
                                    {% for i in classes %}
                                        <option value="{{ i.pk }}">{{ i.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label class="col-lg-3 col-form-label" for="id_fee_year">Year :</label>
                            <div class="form-input" >
                                <select class="form-control" name="year" required="" id="id_fee_year">
                                    <option value="">----------------</option>
                                        <option value="2020">2020</option>
                                        <option value="2021">2021</option>
                                        <option value="2022">2022</option>
                                        <option value="2023">2023</option>
                                        <option value="2024">2024</option>
                                        <option value="2025">2025</option>
                                        <option value="2026">2026</option>
                                        <option value="2027">2027</option>
                                        <option value="2028">2028</option>
                                        <option value="2029">2029</option>
                                        <option value="2030">2030</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label class="col-lg-3 col-form-label" for="id_fee_type">Fee Type :</label>
                            <div class="form-input" >
                                <select class="form-control" name="fee_type" required="" id="id_fee_type">
                                    <option value="">----------------</option>
                                    {% for i in fee_types %}
                                        <option value="{{ i.pk }}">{{ i.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label class="col-lg-3 col-form-label" for="id_month">Fee Month :</label>
                            <div class="form-input" >
                                <select class="form-control" name="month" required="" id="id_month">
                                    <option value="" selected="">---------</option>                              
                                    <option value="January">January</option>                              
                                    <option value="February">February</option>                              
                                    <option value="March">March</option>                              
                                    <option value="April">April</option>                              
                                    <option value="May">May</option>                              
                                    <option value="June">June</option>                              
                                    <option value="July">July</option>                              
                                    <option value="August">August</option>                              
                                    <option value="September">September</option>                              
                                    <option value="October">October</option>                              
                                    <option value="November">November</option>                              
                                    <option value="December">December</option>                              
                                </select>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label class="col-lg-3 col-form-label" for="id_due_date">Due Date :</label>
                            <div class="form-input" >
                                <input class="form-control" type="date" name="due_date" required="" id="id_due_date">
                            </div>
                        </div>
                        {% csrf_token %}
                        <div class="text-end">
                            <button type="submit" class="btn btn-primary">Add Fee <i class="icon-paperplane ml-2"></i></button>
                        </div>
                    </form>
                </div>

                <div class="tab-pane fade" id="W_School">
                    <form method="POST" action="{% url 'student_fee:school_due_fee_create' %}">
                        <div class="form-group mb-3">
                            <label class="col-lg-3 col-form-label" for="id_fee_type">Fee Type :</label>
                            <div class="form-input" >
                                <select class="form-control" name="fee_type" required="" id="id_fee_type">
                                    <option value="">----------------</option>
                                    {% for i in fee_types %}
                                        <option value="{{ i.pk }}">{{ i.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label class="col-lg-3 col-form-label" for="id_fee_year">Year :</label>
                            <div class="form-input" >
                                <select class="form-control" name="year" required="" id="id_fee_year">
                                    <option value="">----------------</option>
                                        <option value="2020">2020</option>
                                        <option value="2021">2021</option>
                                        <option value="2022">2022</option>
                                        <option value="2023">2023</option>
                                        <option value="2024">2024</option>
                                        <option value="2025">2025</option>
                                        <option value="2026">2026</option>
                                        <option value="2027">2027</option>
                                        <option value="2028">2028</option>
                                        <option value="2029">2029</option>
                                        <option value="2030">2030</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label class="col-lg-3 col-form-label" for="id_month">Fee Month :</label>
                            <div class="form-input" >
                                <select class="form-control" name="month" required="" id="id_month">
                                    <option value="" selected="">---------</option>                              
                                    <option value="January">January</option>                              
                                    <option value="February">February</option>                              
                                    <option value="March">March</option>                              
                                    <option value="April">April</option>                              
                                    <option value="May">May</option>                              
                                    <option value="June">June</option>                              
                                    <option value="July">July</option>                              
                                    <option value="August">August</option>                              
                                    <option value="September">September</option>                              
                                    <option value="October">October</option>                              
                                    <option value="November">November</option>                              
                                    <option value="December">December</option>                              
                                </select>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label class="col-lg-3 col-form-label" for="id_due_date">Due Date :</label>
                            <div class="form-input" >
                                <input class="form-control" type="date" name="due_date" required="" id="id_due_date">
                            </div>
                        </div>
                        {% csrf_token %}
                        <div class="text-end">
                            <button type="submit" class="btn btn-primary">Add Fee <i class="icon-paperplane ml-2"></i></button>
                        </div>
                    </form>
                </div>

                <div class="tab-pane fade" id="S_Classes">
                    <form method="POST" action="{% url 'student_fee:selected_classes_due_fee_create' %}">
                        <div class="form-group mb-3">
                            <label class="col-lg-3 col-form-label" for="id_class">Classes :</label>
                            <div class="form-input" >
                                {% for i in classes %}
                                <div class="row">
                                    <div class="col-lg-3">
                                        {{ i }}
                                    </div>
                                    <div class="col-lg-3">
                                            <div class="form-check form-check-inline">
                                            <input type="checkbox" class="form-check-input-styled" name="{{ i.pk }}" id="id_class" data-fouc="">
                                        </div>
                                    </div>
                                    <br>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label class="col-lg-3 col-form-label" for="id_fee_year">Year :</label>
                            <div class="form-input" >
                                <select class="form-control" name="year" required="" id="id_fee_year">
                                    <option value="">----------------</option>
                                        <option value="2020">2020</option>
                                        <option value="2021">2021</option>
                                        <option value="2022">2022</option>
                                        <option value="2023">2023</option>
                                        <option value="2024">2024</option>
                                        <option value="2025">2025</option>
                                        <option value="2026">2026</option>
                                        <option value="2027">2027</option>
                                        <option value="2028">2028</option>
                                        <option value="2029">2029</option>
                                        <option value="2030">2030</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label class="col-lg-3 col-form-label" for="id_fee_type">Fee Type :</label>
                            <div class="form-input" >
                                <select class="form-control" name="fee_type" required="" id="id_fee_type">
                                    <option value="">----------------</option>
                                    {% for i in fee_types %}
                                        <option value="{{ i.pk }}">{{ i.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label class="col-lg-3 col-form-label" for="id_month">Fee Month :</label>
                            <div class="form-input" >
                                <select class="form-control" name="month" required="" id="id_month">
                                    <option value="" selected="">---------</option>                              
                                    <option value="January">January</option>                              
                                    <option value="February">February</option>                              
                                    <option value="March">March</option>                              
                                    <option value="April">April</option>                              
                                    <option value="May">May</option>                              
                                    <option value="June">June</option>                              
                                    <option value="July">July</option>                              
                                    <option value="August">August</option>                              
                                    <option value="September">September</option>                              
                                    <option value="October">October</option>                              
                                    <option value="November">November</option>                              
                                    <option value="December">December</option>                              
                                </select>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label class="col-lg-3 col-form-label" for="id_due_date">Due Date :</label>
                            <div class="form-input" >
                                <input class="form-control" type="date" name="due_date" required="" id="id_due_date">
                            </div>
                        </div>
                        {% csrf_token %}
                        <div class="text-end">
                            <button type="submit" class="btn btn-primary">Add Fee <i class="icon-paperplane ml-2"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}