{% extends "MainPage.html" %}
{% load static %}
{% block navigation %}
    <a href="/" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
    <span class="breadcrumb-item">School</span>
    <span class="breadcrumb-item">Student</span>
    <span class="breadcrumb-item">Attendance</span>
    <span class="breadcrumb-item active">Via Class</span>
{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5>Attendance Of Class {{ clas }}</h5>
        </div>
        <div class="card-body">
            {% for i in attendance %}
                <div class="card-group-control card-group-control-right" id="accordion-control-right">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title">
                                <a data-bs-toggle="collapse" class="text-default collapsed" href="#date{{ i.date }}" aria-expanded="false">
                                    {{ i.date }}<div class="text-righ">Total {{ i.total }}</div>
                                </a>
                            </h6>
                        </div>

                        <div id="date{{ i.date }}" class="collapse" data-bs-parent="#accordion-control-right">
                            <div class="card-body">
                                {% for v in i.students %}
                                    {{ v }},
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block scripts %}
{% endblock %}