{% extends "MainPage.html" %}
{% load static %}
{% block page_js %}
    <script src="{% static './global_assets/js/plugins/notifications/pnotify.min.js' %}"></script>
    <script src="{% static './global_assets/js/demo_pages/extra_pnotify.js' %}"></script>
{% endblock %}
{% block navigation %}
    <a href="/" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
    <span class="breadcrumb-item">School</span>
    <span class="breadcrumb-item active">Change Student User Password</span>
{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">Change User Password For Student</h5>
        </div>
        <div class="card-body">
            <form method="POST" autocomplete="off">

                <div class="form-group mb-3">
                    <label class="col-lg-3 col-form-label" for="id_username">Username:</label>
                    <div class="form-input" >
                        <input class="form-control" type="text" name="username" maxlength="50" readonly="" required id="id_username" value="{{ form.username.value }}">
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label class="col-lg-3 col-form-label" for="id_email">Email:</label>
                    <div class="form-input" >
                        <input class="form-control" type="email" name="email" maxlength="50" id="id_email" value="{% if form.email.value %}{{ form.email.value }}{% endif %}">
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label class="col-lg-3 col-form-label" for="id_password">Old Password:</label>
                    <div class="form-input" >
                        <input class="form-control" type="password" name="password" maxlength="50" required id="id_password">
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label class="col-lg-3 col-form-label" for="id_password1">New Password:</label>
                    <div class="form-input" >
                        <input class="form-control border-danger" type="password" name="password1" maxlength="50" required id="id_password1">
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label class="col-lg-3 col-form-label" for="id_password2">Confirm New Password:</label>
                    <div class="form-input" >
                        <input class="form-control border-danger" type="password" name="password2" maxlength="50" required id="id_password2">
                    </div>
                </div>
                {% csrf_token %}
                <div class="text-end" style="display: none;" id="id_add_user">
                    <button type="submit" class="btn btn-primary">Add User <i class="icon-paperplane ml-2"></i></button>
                </div>
            </form>
        </div>
    </div>
    {% if message == "Password Is Incorrect" %}
        <script>
            window.onload = function () {
                passwordIncorrect();
            }
        </script>
    {% elif message == "Your Passwords Does Not Match" %}
        <script>
            window.onload = function () {
                passwordsNotMatch();
            }
        </script>
    {% endif %}
{% endblock %}
{% block scripts %}
    <script>
        document.getElementById('id_password2').onkeyup = function (){
            var pass1 = document.getElementById('id_password1') ;
            var pass2 = document.getElementById('id_password2') ;
            if (pass1.value == pass2.value){
                pass1.classList.remove('border-danger');
                pass1.classList.add('border-success');
                pass2.classList.remove('border-danger');
                pass2.classList.add('border-success');
                document.getElementById('id_add_user').style.display = 'block';
            }else{
                pass1.classList.remove('border-success');
                pass1.classList.add('border-danger');
                pass2.classList.remove('border-success');
                pass2.classList.add('border-danger');
                document.getElementById('id_add_user').style.display = 'none';
            }
        }
    </script>
    <script>
        function passwordsNotMatch(){
            new PNotify({
                title: "Can't Change Password",
                text: 'The Passwords you Entered Does Not Match.',
                icon: 'icon-blocked',
                type: 'error',
            });
        }
    </script>
    <script>
        function passwordIncorrect(){
            new PNotify({
                title: "Can't Change Password",
                text: 'Please Enter Correct Password.',
                icon: 'icon-blocked',
                type: 'error',
            });
        }
    </script>
{% endblock %}